<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Nous contacter</title>
</head>
<body>
<h1>Nous contacter</h1>
<form>
    <label>
        Votre nom :
        <input type="text" name="username"/>
    </label>
    <label>
        Votre email :
        <input type="email" name="email"/>
    </label>
    <label>
        Votre message :
        <textarea name="message"></textarea>
    </label>
</form>
</body>
</html>